<div
    class="nav-panel"
>
    <div class="nav-panel__container container">
        <div class="nav-panel__row">

            <!-- .nav-links -->
            <adiv class="nav-panel__nav-links nav-links">
                <ul class="nav-links__list" style="padding-top: 15px;">
                    <li class="nav-links__item"><a routerLink='/book' style="color: inherit; text-decoration: none;">Book</a></li>
                    <li class="nav-links__item"><a routerLink='/add-book' style="color: inherit; text-decoration: none;">Add Book</a></li>
                    <li class="nav-links__item"><a routerLink='/review-book' style="color: inherit; text-decoration: none;">Review Book</a></li>
                </ul>                
            </adiv>
            <!-- .nav-links / end -->

        </div>
    </div>
</div>
